{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Interface d'Administration{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12 mt-4">
            <div class="alert alert-info">
                <h4 class="alert-heading">Bienvenue sur le panneau d'administration</h4>
                <p>Depuis cet espace, vous pouvez gérer paramétrages centraux, les utilisateurs et l'architecture des modules ERP.</p>
                <hr>
                <p class="mb-0">Utilisez le menu latéral pour administrer les ressources.</p>
            </div>
        </div>
    </div>
{% endblock %}
